body {
  background-image: url('../src/assets/debate-background.jpg');
  background-size: cover;
}
.App {
  max-width: 1400px;
  margin: 0 auto;
}

.personsContainer {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.personBox {
  width: 100px;
  height: 100px;
  background-color: #d9adad;
  flex: 1 0 calc(33.33% - 20px);
  margin: 10px;
  box-sizing: border-box;
}

.borderBlue {
  border: 10px solid #0038ff;
}

.borderRed {
  border: 10px solid #fc0000;
}
